body {
  background: #f5f5f5;
}

.hero-container {
  /* padding: 2rem 0; */
  background: #f5f5f5;
  position: absolute;
}

.text-container {
  text-align: left;
  padding-top: 10rem;
  padding-left: 6rem;
}

.text-container h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 7.0rem;
  line-height: 8rem;
  letter-spacing: 0.015em;
  color: #000000;
}

.text-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: #000000;
  opacity: 0.7;
}

.img-container {
  position: relative;
}

.hero-container img {
  position: absolute;
  top: -8rem;
  right: 0;
  width: 70rem;
}